<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:state_pressed="true">
        <shape
            android:shape="rectangle">
            <corners
                android:radius="20dip" />
            <stroke
                android:width="2dip"
                android:color="#000000" />
            <gradient
                android:angle="-90"
                android:startColor="#345953"
                android:endColor="#689a92" />
        </shape>
    </item>
    <item
        android:state_focused="true">
        <shape
            android:shape="rectangle">
            <corners
                android:radius="20dip" />
            <stroke
                android:width="2dip"
                android:color="#000000" />
            <solid
                android:color="#58857e" />
        </shape>
    </item>
    <item>
        <shape
            android:shape="rectangle">
            <corners
                android:radius="20dip" />
            <stroke
                android:width="2dip"
                android:color="#000000" />
            <gradient
                android:angle="-90"
                android:startColor="#49402F"
                android:endColor="#49402F" />
        </shape>
    </item>
</selector>